@use '../node_modules/scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');
@import '../style/colors';
@import '../style/mixins';

body {
    font-family: 'Nunito Sans', sans-serif;
    
    main {
        max-width: 100%;
        min-height: 100vh;
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    #top {
        background-color: var(--bg-color);

        header {
            background-color: var(--bg-seconday-color);
            padding: 30px 0;
            -webkit-box-shadow: 0px -1px 2px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px -1px 2px 0px rgba(66, 68, 90, 1);
            box-shadow: 0px -1px 2px 0px rgba(66, 68, 90, 1);
        }
    }
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.top__section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
        font-weight: 800;
    }
}

.dark-mode-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-weight: 600;
    color: var(--text-color);

    &::before {
        content: '\f186';
        font-family: "Font Awesome 5 Free";
        font-weight: 300;
        display: block;
        transform: rotate(-20deg);
    }
}

#utilities__container {
    background-color: var(--bg-color);
}

.utilities {
    @include tablet() {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .search-bar-wrapper {
        width: 100%;
        margin-top: 1.5em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        flex-basis:  400px;
    
        .search-bar {
            width: 100%;
            padding: 1em;
            padding-left: 4em;
            font-size: 14px;
            border: none;
            border-radius: 0.5em;
            background-color: var(--bg-seconday-color);
            color: var(--text-secondary-color);

            &::placeholder {
                color: var(--text-secondary-color);
            }
        }
    
        &::before {
            content: '\f002';
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            position: absolute;
            margin-left: 20px;
            color: var(--text-secondary-color);
        }
    }
}

.dropdown {
    margin-top: 1.5em;
    width: 65%;
    position: relative;
    flex-basis: 200px;

    .dropdown-menu {
        padding: 1.2em 1.5em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5em;
        font-size: 14px;
        background-color: var(--bg-seconday-color);
        color: var(--text-color);

        &::after {
            content: '\f078';
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            font-size: 10px;
        }

        
    }

    ul {
        background-color: var(--bg-seconday-color);
        padding: 1.2em;
        display: none;
        position: absolute;
        width: 100%;
        margin-top: 0.3em;
        border-radius: 0.5em;

        li:not(:last-child) {
            margin-bottom: 0.6em;
        }

        li {
            cursor: pointer;
        }
    }
}

.blocked {
    display: block !important;
}

strong {
    font-weight: bold;
}

#content-section {
    background-color: var(--bg-color);
    min-height: calc(100vh - 153px);
}

a {
    text-decoration: none;
    color: $dark-blue;
}

.countries-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;

    @include tablet() {
        padding-top: 2.5em;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    @include desktop() {
        justify-content: flex-start;
        gap: calc((1440px - (4 * 320px)) / 4)
    }

    .country-wrapper {
        margin-bottom: 2em;
        border-radius: 0.5em;
        overflow: hidden;
        max-width: 320px;

        img {
            width: 320px;
            height: 200px;
        }

        .content {
            padding: 0 1.5em;
            background-color: var(--bg-seconday-color);
            color: var(--text-color);

            h2 {
                font-weight: 800;
                padding: 1em 0;
            }

            p {
                font-size: 14px;
                line-height: 1.6em;

                &:last-child {
                    padding-bottom: 1em;
                }
            }

            .content-text-bold {
                font-weight: 600;
            }
        }
    }
}

.single-country-wrapper {
    @include tablet() {
        width: 100%;
    }

    .back-btn {
        box-shadow: 0 0 4px rgba($dark-gray, 1);
        padding: 0.5em 1.5em;
        margin-bottom: 2.5em;
        font-weight: 600;
        background-color: var(--bg-seconday-color);
        color: var(--text-color);

        &::before {
            content: '\f060';
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: 0.8em;
        }
    }

    img {
        width: auto;
        height: 220px;

        @include tablet() {
            width: 400px;
            height: 260px;
        }

        @include desktop() {
            width: 700px !important;
            height: 400px;
        }
    }

    .country-info-wrapper {
        margin-top: 2em;
        line-height: 26px;

        p {
            font-size: 14px;
        }

        h2 {
            font-weight: 800;
            margin-bottom: 1em;
        }

        .left-side-content {
            margin-bottom: 1em;
        }

        .content-wrapper {

            @include tablet {
                display: flex;
                gap: 5em;
            }
        }
    }

    .country-data-wrapper {
        @include tablet() {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4em;
        }
    }
}

.no-display {
    display: none;
}

.border-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .border-country-btn {
        padding: 0.4em 0;
        width: 6em;
        box-shadow: 0 0 2px rgba($dark-gray, 1);
        background-color: var(--bg-seconday-color);
        color: var(--text-color);
    }
}